.h-6{
    @media(min-width:320px){
    background-color: black;
    color: white;
    margin-top: 10px;    
    border: 5px solid gold;
    text-align: center;
    }
    @media(min-width:1200px){
    background-color: white;
    color: black;
    margin-top: 10px;    
    border: 5px solid lightblue;
    text-align: center;
}
}
.rows{
    @media(min-width:320px){
    padding: 5px;
    }
    @media(min-width:1200px){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    }
}
.col{   
    @media(min-width:320px){
    padding: 5px;
    }
    @media(min-width:1200px){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    }
}
@mixin size ($width,$height) {
    height: $height;
    width: $width;
}
.ultima{
    @media(min-width:320px){
        @include size(200px,200px);
        margin: 10px;
        padding: 5px;
        }
    @media(min-width:1200px){
        @include size(300px,300px);
    margin: 20px;
    padding: 20px;
    }
}
.footer-5{
    @media(min-width:320px){
    margin-top: 10px;
    background-color: goldenrod;
    color:black;
    text-align: center;
    }
}