h1{
    padding: 0px;
    margin: 50px 550px 25px 500px;
    border: 10px solid goldenrod;
    color: white;
    text-align: center;
    @media(min-width:320px){
    background-color: black;
    color: white;
    margin-top: 10px;    
    padding: 0px;
    margin: 25px 25px 25px 50px;
    border: 10px solid black;
    }
    @media(min-width:1024px){
    color: goldenrod;   
    }
    @media(min-width:1200px){
    padding: 0px;
    margin: 50px 550px 25px 500px;
    border: 10px solid goldenrod;
    background-color: black;
    color: white;
    text-align: center;
    }
}
.flex_conteiner{
    @media(min-width:320px){
    background-image: linear-gradient(black, white);
    margin-top: 0px;
    }
    @media(min-width:768px){
    background-image: linear-gradient(black, white);
    margin-top: 0px;
    }
    @media(min-width:1200px){
    background-image: linear-gradient(black, white);
    margin-top: 0px;
    }
}
@media(min-width:320px){
    p{
        color: black;
    }
    @media(min-width:768px){
    p{
        color: white;
    }
    }
}
@mixin size ($width,$height) {
    height: $height;
    width: $width;
}
.item{
    @include size(300px,300px);
    margin: 20px;
    padding: 20px;
    border: 5px solid blue;
    @media(min-width:320px){
        .item{
            @include size(150px, 150px);
            }
    }
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    @media(min-width:320px){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
        gap: 50px;
    }
}
.colu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    @media(min-width:320px){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
        gap: 50px;
    }
}
.footer-1{
    padding: 25px;
    margin-bottom: 0px;
    margin-top: 10px;
    @media(min-width:320px){
        margin-top: 5px;
        background-color: goldenrod;
        color: black;
        text-align: start;
    }
}