.h-3{
    @media(min-width:320px){
        background-color: goldenrod;
        color: black;
        margin-top: 10px;    
        padding: 0px;
        margin: 25px 25px 5px 50px;
        border: 15px solid black;
        text-align: center;
    }
    @media(min-width:1200px){
        background-color: purple;
        color: white;
        margin-top: 10px;    
        padding: 0px;
        margin: 25px 25px 5px 50px;
        border: 15px solid ;
        text-align: start;
    }
}
.conteiner-salto{
    @media(min-width:320px){
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1 fr);
        grid-template-areas: 
        "h-3" 
        "salto-1"
        "salto-2" 
        "salto-3";
        margin-top: 25px;
        margin: 10px;
    }
    @media(min-width:768px){
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1 fr);
        grid-template-areas: 
        "h-3 h-3 h-3 h-3 h-3 h-3" 
        "salto-1 salto-1 salto-1 salto-2 salto-2 salto-2"
        "salto-1 salto-1 salto-1 salto-2 salto-2 salto-2" 
        "salto-3 salto-3 salto-3 salto-3 salto-3 salto-3";
        margin-top: 25px;
        margin: 10px;
    }
}
.salto{
    
@media(min-width:320px){
    text-align: center;
    border: solid goldenrod;
    padding: 25px;
    }
    @media(min-width:768px){
        text-align: start;
        border: solid gold;
        padding: 30px;
    }
    @media(min-width:1024px){
        text-align: center;
        border: solid gold;
        padding: 30px;
    }
    @media(min-width:1200px){
        border: solid purple;
        padding: 30px;
    }
}
.h-3{
    @media(min-width:320px){
    grid-area: h-3;
    }
}
.salto-1{
    @media(min-width:320px){
    grid-area: salto-1;
    margin: 25px;
    }
}
.salto-2{
    @media(min-width:320px){
    grid-area: salto-2;
    margin: 25px;
    }
}
.salto-3{
    @media(min-width:320px){
    grid-area: salto-3;
    margin: 25px;
    }
}
.europa-1{
    @media(min-width:320px){
    width: 200px;
    height: 200px;
    }
    @media(min-width:768px){
        width: 280px;
        height: 280px;
    }
    @media(min-width:1200px){
        width: 350px;
        height: 350px;
    }
}
.europa-2{
    @media(min-width:320px){
    width: 200px;
    height: 200px;
    }
    @media(min-width:768px){
        width: 280px;
        height: 280px;
    }
    @media(min-width:1200px){
        width: 350px;
        height: 350px;
    }
}
.europa-2{
    @media(min-width:320px){
    width: 200px;
    height: 200px;
    }    
    @media(min-width:768px){
        width: 350px;
        height: 350px;
    }
    @media(min-width:1200px){
        width: 450px;
        height: 450px;
    }
}

.body-europa{
    @media(min-width:320px){
    background-image: linear-gradient(black,white);
    }
}
.footer-3{
    @media(min-width:320px){
    margin-top: 10px;
    background-color: goldenrod;
    color: black;
    }
    @media(min-width:1024px){
        margin-top: 10px;
        background-color: black;
        color: gold;
        text-align: center;
    }
    @media(min-width:1200px){
        margin-top: 15px;
        background-color: purple;
        color: white;
        text-align: end;
    }
}