h2{   
    padding: 5px;
    border: 5px solid gold;
    @media(min-width:320px){
        background-color:black;
        color: goldenrod;
        margin-top: 10px;    
        padding: 0px;
        margin: 25px 25px 1px 50px;
        border: 10px solid goldenrod;
    }
    @media(min-width:768px){
        border: 10px solid goldenrod;
    }
    @media(min-width:1024px){
        padding: 5px;
        margin: 15px 25px 1px 50px;
        border: 10px solid goldenrod;
    }
}

@media(min-width:320px){
.contenedor-1{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "punto-1 punto-2 punto-3 punto-4";
    margin: 25px;
    margin-top: 15px;
    }
}
.punto{
    text-align: center;
    margin-top: 5px;
    @media(min-width:320px){
        text-align: start;
        border: solid black;
        padding: 25px;
        @media(min-width:1024px){
            text-align: center;
            border: solid gold;
            padding: 30px;
        }
    }
}
@media(min-width:320px){
    .punto-1{
        grid-area: punto-1;
    }
    .punto-2{
        grid-area: punto-2;
    }
    .punto-3{
        grid-area: punto-3;
    }
    .punto-4{
        grid-area: punto-4;
    }
}
@mixin size ($width,$height) {
    height: $height;
    width: $width;
}
.dupla-1{
    @include size(200px,200px);
    @media(min-width:1024px){
        @include size(350px,350px);
    }
}
.dupla-2{
    @include size(200px,200px);
    @media(min-width:1024px){
        @include size(350px,350px);
    }
}
.dupla-3{
    @include size(200px,200px);
    @media(min-width:1024px){
        @include size(350px,350px);
    }
}
.dupla-4{
    @include size(200px,200px);
    @media(min-width:1024px){
        @include size(350px,350px);
    }
}
.footer-2{
    margin-top: 15px;
    background-color: goldenrod;
    color: black;
    text-align: start;
    @media(min-width:768px){
        background-color: goldenrod;
        color: white;
    }
    @media(min-width:1024px){
        background-color: goldenrod;
    }
    @media(min-width:1200px){
        color: black;
    }
}