@import "fuentes";
@import "generales";
@import "mediaPrimera";
@import "mediaSegunda";
@import "mediaTercera";
@import "mediaCuarta";
@import "mediaQuinta";

@media(min-width:320px){



}
@media(min-width:768px){


}


@media(min-width:1024px){


}

@media(min-width:1200px){

/*ultima pagina, origenes*/
.h-6{
    background-color: white;
    color: black;
    margin-top: 10px;    
    border: 5px solid lightblue;
    text-align: center;
}
.rows{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}
.col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}
.ultima{
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 20px;
}
.footer-5{
    margin-top: 15px;
    background-color: goldenrod;
    color:black;
    text-align: center;
}
}