@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
}

header {
  background-color: goldenrod;
}

body {
  background-image: linear-gradient(black, white);
}
body p {
  color: white;
}
body p li {
  list-style: none;
  display: inline-block;
}

footer {
  padding: 25px;
  margin-bottom: 0px;
  margin-top: 1000px;
  color: black;
  background-color: goldenrod;
}

h1 {
  padding: 0px;
  margin: 50px 550px 25px 500px;
  border: 10px solid goldenrod;
  color: white;
  text-align: center;
}
@media (min-width: 320px) {
  h1 {
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 0px;
    margin: 25px 25px 25px 50px;
    border: 10px solid black;
  }
}
@media (min-width: 1024px) {
  h1 {
    color: goldenrod;
  }
}
@media (min-width: 1200px) {
  h1 {
    padding: 0px;
    margin: 50px 550px 25px 500px;
    border: 10px solid goldenrod;
    background-color: black;
    color: white;
    text-align: center;
  }
}

@media (min-width: 320px) {
  .flex_conteiner {
    background-image: linear-gradient(black, white);
    margin-top: 0px;
  }
}
@media (min-width: 768px) {
  .flex_conteiner {
    background-image: linear-gradient(black, white);
    margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  .flex_conteiner {
    background-image: linear-gradient(black, white);
    margin-top: 0px;
  }
}

@media (min-width: 320px) {
  p {
    color: black;
  }
}
@media (min-width: 320px) and (min-width: 768px) {
  p {
    color: white;
  }
}
.item {
  height: 300px;
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 5px solid blue;
}
@media (min-width: 320px) {
  .item .item {
    height: 150px;
    width: 150px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}
@media (min-width: 320px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    gap: 50px;
  }
}

.colu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}
@media (min-width: 320px) {
  .colu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    gap: 50px;
  }
}

.footer-1 {
  padding: 25px;
  margin-bottom: 0px;
  margin-top: 10px;
}
@media (min-width: 320px) {
  .footer-1 {
    margin-top: 5px;
    background-color: goldenrod;
    color: black;
    text-align: start;
  }
}

h2 {
  padding: 5px;
  border: 5px solid gold;
}
@media (min-width: 320px) {
  h2 {
    background-color: black;
    color: goldenrod;
    margin-top: 10px;
    padding: 0px;
    margin: 25px 25px 1px 50px;
    border: 10px solid goldenrod;
  }
}
@media (min-width: 768px) {
  h2 {
    border: 10px solid goldenrod;
  }
}
@media (min-width: 1024px) {
  h2 {
    padding: 5px;
    margin: 15px 25px 1px 50px;
    border: 10px solid goldenrod;
  }
}

@media (min-width: 320px) {
  .contenedor-1 {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "punto-1 punto-2 punto-3 punto-4";
    margin: 25px;
    margin-top: 15px;
  }
}
.punto {
  text-align: center;
  margin-top: 5px;
}
@media (min-width: 320px) {
  .punto {
    text-align: start;
    border: solid black;
    padding: 25px;
  }
}
@media (min-width: 320px) and (min-width: 1024px) {
  .punto {
    text-align: center;
    border: solid gold;
    padding: 30px;
  }
}

@media (min-width: 320px) {
  .punto-1 {
    grid-area: punto-1;
  }
  .punto-2 {
    grid-area: punto-2;
  }
  .punto-3 {
    grid-area: punto-3;
  }
  .punto-4 {
    grid-area: punto-4;
  }
}
.dupla-1 {
  height: 200px;
  width: 200px;
}
@media (min-width: 1024px) {
  .dupla-1 {
    height: 350px;
    width: 350px;
  }
}

.dupla-2 {
  height: 200px;
  width: 200px;
}
@media (min-width: 1024px) {
  .dupla-2 {
    height: 350px;
    width: 350px;
  }
}

.dupla-3 {
  height: 200px;
  width: 200px;
}
@media (min-width: 1024px) {
  .dupla-3 {
    height: 350px;
    width: 350px;
  }
}

.dupla-4 {
  height: 200px;
  width: 200px;
}
@media (min-width: 1024px) {
  .dupla-4 {
    height: 350px;
    width: 350px;
  }
}

.footer-2 {
  margin-top: 15px;
  background-color: goldenrod;
  color: black;
  text-align: start;
}
@media (min-width: 768px) {
  .footer-2 {
    background-color: goldenrod;
    color: white;
  }
}
@media (min-width: 1024px) {
  .footer-2 {
    background-color: goldenrod;
  }
}
@media (min-width: 1200px) {
  .footer-2 {
    color: black;
  }
}

@media (min-width: 320px) {
  .h-3 {
    background-color: goldenrod;
    color: black;
    margin-top: 10px;
    padding: 0px;
    margin: 25px 25px 5px 50px;
    border: 15px solid black;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .h-3 {
    text-align: start;
  }
}

@media (min-width: 320px) {
  .conteiner-salto {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1 fr);
    grid-template-areas: "h-3" "salto-1" "salto-2" "salto-3";
    margin-top: 25px;
    margin: 10px;
  }
}
@media (min-width: 768px) {
  .conteiner-salto {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1 fr);
    grid-template-areas: "h-3 h-3 h-3 h-3 h-3 h-3" "salto-1 salto-1 salto-1 salto-2 salto-2 salto-2" "salto-1 salto-1 salto-1 salto-2 salto-2 salto-2" "salto-3 salto-3 salto-3 salto-3 salto-3 salto-3";
    margin-top: 25px;
    margin: 10px;
  }
}

@media (min-width: 320px) {
  .salto {
    text-align: center;
    border: solid goldenrod;
    padding: 25px;
  }
}
@media (min-width: 768px) {
  .salto {
    border: solid gold;
    padding: 30px;
  }
}
@media (min-width: 1024px) {
  .salto {
    border: solid gold;
    padding: 30px;
  }
}

@media (min-width: 320px) {
  .h-3 {
    grid-area: h-3;
  }
}

@media (min-width: 320px) {
  .salto-1 {
    grid-area: salto-1;
    margin: 25px;
  }
}

@media (min-width: 320px) {
  .salto-2 {
    grid-area: salto-2;
    margin: 25px;
  }
}

@media (min-width: 320px) {
  .salto-3 {
    grid-area: salto-3;
    margin: 25px;
  }
}

@media (min-width: 320px) {
  .europa-1 {
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 768px) {
  .europa-1 {
    height: 280px;
    width: 280px;
  }
}
@media (min-width: 1200px) {
  .europa-1 {
    height: 350px;
    width: 350px;
  }
}

@media (min-width: 320px) {
  .europa-3 {
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 768px) {
  .europa-3 {
    height: 280px;
    width: 280px;
  }
}
@media (min-width: 1200px) {
  .europa-3 {
    height: 350px;
    width: 350px;
  }
}

@media (min-width: 320px) {
  .europa-2 {
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 768px) {
  .europa-2 {
    height: 280px;
    width: 280px;
  }
}
@media (min-width: 1200px) {
  .europa-2 {
    height: 350px;
    width: 350px;
  }
}

@media (min-width: 320px) {
  .body-europa {
    background-image: linear-gradient(black, white);
  }
}

@media (min-width: 320px) {
  .footer-3 {
    margin-top: 10px;
    background-color: goldenrod;
    color: black;
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .footer-3 {
    margin-top: 10px;
    background-color: black;
    color: gold;
  }
}
@media (min-width: 1200px) {
  .footer-3 {
    margin-top: 15px;
  }
}

@media (min-width: 320px) {
  .h-4 {
    background-color: black;
    color: gold;
    margin-top: 0px;
    padding: 0px;
    margin: 25px 25px 30px 50px;
    border: 5px solid;
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .h-4 {
    background-color: white;
    color: goldenrod;
    margin-top: 10px;
    padding: 0px;
    margin: 25px 25px 30px 50px;
    border: 15px solid;
    text-align: start;
  }
}

@media (min-width: 320px) {
  .contenedor-4 {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "vise-1" "vise-2" "picture-1" "picture-2" "picture-3" "picture-4" "picture-5" "picture-6" "footer-4";
  }
}
@media (min-width: 1200px) {
  .contenedor-4 {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1 fr);
    grid-template-areas: "vise-1 vise-1 vise-1 vise-1 vise-1 vise-1" "vise-2 vise-2 vise-2 vise-2 vise-2 vise-2" "picture-6 picture-1 picture-3 picture-4 picture-5 picture-2" "picture-6 picture-1 picture-3 picture-4 picture-5 picture-2" "picture-6 picture-1 picture-3 picture-4 picture-5 picture-2" "footer-4 footer-4 footer-4 footer-4 footer-4 footer-4";
  }
}

@media (min-width: 320px) {
  .picture {
    border: 3px solid goldenrod;
    padding: 5px;
  }
}
@media (min-width: 1200px) {
  .picture {
    border: solid gold;
    padding: 30px;
  }
}

.vise-1 {
  grid-area: vise-1;
}

.vise-2 {
  grid-area: vise-2;
}

@media (min-width: 1200px) {
  .picture:hover {
    transform: scale(2);
  }
}

@media (min-width: 320px) {
  .picture-1 {
    grid-area: picture-1;
    height: 150px;
    width: 150px;
    margin: 150px 150px 150px 150px;
  }
}
@media (min-width: 1200px) {
  .picture-1 {
    grid-area: picture-1;
    transition-property: all;
    transition-duration: 3s;
    height: 250px;
    width: 250px;
    margin: 150px 150px 150px 150px;
  }
}

@media (min-width: 320px) {
  .picture-2 {
    grid-area: picture-2;
    height: 150px;
    width: 150px;
    margin: 150px 150px 150px 150px;
  }
}
@media (min-width: 1200px) {
  .picture-2 {
    grid-area: picture-2;
    transition-property: all;
    transition-duration: 3s;
    height: 250px;
    width: 250px;
    margin: 150px 150px 150px 150px;
  }
}

@media (min-width: 320px) {
  .picture-3 {
    grid-area: picture-3;
    height: 150px;
    width: 150px;
    margin: 150px 150px 150px 150px;
  }
}
@media (min-width: 1200px) {
  .picture-3 {
    grid-area: picture-3;
    transition-property: all;
    transition-duration: 3s;
    height: 250px;
    width: 250px;
    margin: 150px 150px 150px 150px;
  }
}

@media (min-width: 320px) {
  .picture-4 {
    grid-area: picture-4;
    height: 150px;
    width: 150px;
    margin: 150px 150px 150px 150px;
  }
}
@media (min-width: 1200px) {
  .picture-4 {
    grid-area: picture-4;
    transition-property: all;
    transition-duration: 3s;
    height: 250px;
    width: 250px;
    margin: 150px 150px 150px 150px;
  }
}

@media (min-width: 320px) {
  .picture-5 {
    grid-area: picture-5;
    height: 150px;
    width: 150px;
    margin: 150px 150px 150px 150px;
  }
}
@media (min-width: 1200px) {
  .picture-5 {
    grid-area: picture-5;
    transition-property: all;
    transition-duration: 3s;
    height: 250px;
    width: 250px;
    margin: 150px 150px 150px 150px;
  }
}

@media (min-width: 320px) {
  .picture-6 {
    grid-area: picture-6;
    height: 150px;
    width: 150px;
    margin: 150px 150px 150px 150px;
  }
}
@media (min-width: 1200px) {
  .picture-6 {
    grid-area: picture-6;
    transition-property: all;
    transition-duration: 3s;
    height: 250px;
    width: 250px;
    margin: 150px 150px 150px 150px;
  }
}

@media (min-width: 320px) {
  .footer-4 {
    grid-area: footer-4;
  }
}
@media (min-width: 1200px) {
  .footer-4 {
    grid-area: footer-4;
    margin-top: 15px;
    background-color: goldenrod;
    color: white;
    text-align: start;
  }
}

@media (min-width: 320px) {
  .h-6 {
    background-color: black;
    color: white;
    margin-top: 10px;
    border: 5px solid gold;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .h-6 {
    margin-top: 15px;
    padding: 10px;
  }
}

@media (min-width: 320px) {
  .rows {
    padding: 5px;
  }
}
@media (min-width: 1200px) {
  .rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
  }
}

@media (min-width: 320px) {
  .col {
    padding: 5px;
  }
}
@media (min-width: 1200px) {
  .col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
  }
}

@media (min-width: 320px) {
  .ultima {
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 5px;
    border: 3px solid goldenrod;
  }
}
@media (min-width: 1200px) {
  .ultima {
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 20px;
  }
}

@media (min-width: 320px) {
  .footer-5 {
    margin-top: 10px;
    background-color: goldenrod;
    color: black;
    text-align: start;
  }
}/*# sourceMappingURL=style.css.map */